body {
  padding: 20px;
  font-family: monospace;
}

.market-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 20px;
}

.market-link-active {
  margin-right: 20px;
  font-weight: 600;
}

.nav {
  margin-top: 15px;
  margin-bottom: 25px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

table td {
  padding:5px;
}

table thead tr {
  background-color: #303030;
  color: #F9F9F9;
}

table tr.alt {
  background-color: #E9E9E9;
}

.right {
  text-align:right;
}

.center {
  text-align: center;
}

thead td {
  font-weight: 600;
}

.table-holder {
  margin-top:25px;
}

.table-holder table {
  margin-bottom:25px;
}

input[type="radio"], i {
  cursor: pointer;
}

.long-label {
  background-color: #4aa165;
  padding:3px 5px;
  border-radius:2px;
  color:#ffffff;
  font-weight: bold;
}

.short-label {
  background-color: #d16547;
  padding:3px 5px;
  border-radius:2px;
  color:#ffffff;
  font-weight: bold;
}

td a {
  color:blue;
}

td a:visited, td a:active {
  color:blue;
}

td a:hover {
  color:blue;
  text-decoration: none;
}

.flashable {
  padding:3px 5px;
  border-radius: 3px;
}

.flash-value-green {
  animation: color-change-green ease 1s;
}

.flash-value-red {
  animation: color-change-red ease 1s;
}

@keyframes color-change-green {
  0% { background-color: #4aa165; font-weight: 600; color: #ffffff; }
  40% { background-color: none; font-weight: 400; color: #ffffff; }
}

@keyframes color-change-red {
  0% { background-color: #d16547; font-weight: 600; color: #ffffff; }
  40% { background-color: none; font-weight: 400; color: #ffffff; }
}

.icons a, .icons a:hover, .icons a:active, .icons a:visited {
  text-decoration: none;
}

.icons span {
  cursor: pointer;
}
