body {
  padding: 20px;
  font-family: monospace;
}

.market-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 20px;
}

.market-link-active {
  margin-right: 20px;
  font-weight: 600;
}

.nav {
  margin-top: 15px;
  margin-bottom: 25px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

table td {
  padding:5px;
}

table thead tr {
  background-color: #303030;
  color: #F9F9F9;
}

table tr.alt {
  background-color: #E9E9E9;
}

.right {
  text-align:right;
}

thead td {
  font-weight: 600;
}

.table-holder {
  margin-top:25px;
}

.table-holder table {
  margin-bottom:25px;
}

input[type="radio"], i {
  cursor: pointer;
}
